 body{
    background-color: rgb(230, 218, 229);
    color: #000000;
    font: normal 16px Geist Mono

}

a {
    color: black;
    text-decoration: none;
}
/* наведение */ 
:hover { 
    text-decoration: none;
}

a:active {
    color: rgb(255, 0, 195);
}

.avatar{
    width: 200px;
    border-radius: 10%;
}

.card {
    padding: 15px;
    background: red;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-pink{
    background: rgb(245, 158, 214);
}

.info {
    margin-bottom: 20px;
}

.table{
    width: 100%;
}
/* .info p{

    color:#0f141e;
    margin: 0;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

.container{
   max-width: 750px;
   margin: auto;

}

.social{
    background: rgb(117, 220, 236);
    padding: 15px 40px;
    border: 20px solid rgb(255, 255, 255);
    margin: 10px;


} */ 